@import "fontello/css/fontello.css";

.bg-video {
    position: relative;
    background: #000;
    overflow: hidden;
}

/* Size Widescreen Ratio 16:9 (Default)  */
.bg-video::before {
    content: '';
    display: block;
    position: relative;
    padding-top: 56.25%;
}

/* Size Cinema Ratio 21:9 */
.bg-video--size-cinema::before {
    padding-top: 42.86%;
}

/* Size Classic Ratio 4:3 */
.bg-video--size-classic::before {
    padding-top: 75%;
}

/* Size Fullscreen with Landscape Device */
.bg-video--size-full {
    max-height: 55vw;
}

.bg-video--size-full::before {
    padding-top: 100vh;
}

.bg-video__embed {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    display: flex;
}

.bg-video__title {
    position: relative;
    width: 100%;
    align-self: center;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 5px #000;
}

.bg-video__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: opacity 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94), visibility 0.5s linear;
}

.bg-video__overlay img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.bg-video__overlay.fadeOut {
    opacity: 0;
    visibility: hidden;
}

.bg-video__player-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 0;
    /* width: 120%; */
    /* padding-bottom: 66.25%; */
    width: 100%;
    padding-bottom: 160%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.bg-video--size-cinema .bg-video__player-wrapper {
    width: 120%;
}

.bg-video--size-classic .bg-video__player-wrapper {
    width: 135%;
}

.bg-video--fit:not(.paused) .bg-video__player-wrapper {
    width: 100%;
    height: 100%;
    padding-bottom: 0;
    transition-delay: 100ms;
}

.bg-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.bg-video__controller {
    position: absolute;
    z-index: 1;
    left: 5px;
    right: 5px;
    bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.bg-video__btn-sound,
.bg-video__btn-pause {
    background: none;
    border: none;
    font-size: 10px;
    color: white;
    width: 24px;
    height: 24px;
    border: 2px solid white;
    border-radius: 50px;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.25s ease;
}

.bg-video__btn-sound::before,
.bg-video__btn-pause::before {
    display: inline-block;
    font-family: 'fontello';
    line-height: 1;
}

.bg-video__btn-sound::before {
    content: '\e800';
}

.bg-video__btn-sound.active::before {
    content: '\e801';
}

.bg-video__btn-pause::before {
    content: '\f00e';
}

.bg-video__btn-pause.active::before {
    content: '\f00f';
}

.bg-video__btn-sound:focus,
.bg-video__btn-pause:focus {
    outline: none;
}

.bg-video__btn-sound:hover,
.bg-video__btn-pause:hover {
    background: white;
    color: #333;
}
